<!DOCTYPE html>

<html>
<head>
    <title>Home</title>
</head>
<body>
<div>
    <h1>Webshop</h1>
    <p>
        @Html.ActionLink("Search products by title", "Index", "ProductSearch")
    </p>
    <p>
        @Html.ActionLink("Register a new product", "Index", "ProductRegistration")
    </p>
    <p>
        @Html.ActionLink("Change the storage", "Index", "SettingsStorage")
    </p>
</div>
</body>
</html>